@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::after, ::before {
	scroll-behavior: smooth;
  box-sizing: border-box;
}

.hover-gradient:hover {
  @apply bg-gradient-to-b;
  background-image: linear-gradient(to bottom, #9424a8, #9a093f);
}
